.vs/
.vscode/
Debug/
Release/
x64/
CMakeFiles/
cmake-*-build-*/
*.cmake
*.user
*.x
*.gch
*.o
*.o.tmp
*.asv
*.log
*.tar.gz
*.cbp
test.matt
test.matb
q2d-test.matb
test1.matb
tem_db.mat
cpp_gen.m
matb2matt
matt2matb
SLISC/test
util/matbinfo
util/matbrename
util/cat_files
util/echo2
util/mattinfo
util/matb_q2d
test.mat
example.db
test*.db
test1.txt
test.txt
CMakeCache.txt
Makefile
ode_x.txt
ode_y.txt
.ipynb_checkpoints/
SLISC.ipynb
config.h.new
fedvr_orthor.matb
